html{
  scroll-behavior: smooth;
}

body
{
    font-family: 'Raleway', sans-serif;
    user-select: none;
    transition: all 2s ease;
    background-color: black;
    overflow-x: hidden;
}

.main
{
    width: 100%;
    height: 100%;
   
}

.panel {
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}


  .color-white {
    background-color: #fff;
    color: black;
  }
  .color-black {
    background-color: #000;
    color: #fff;
  }

